#LOGO{
	position: absolute;
	right: 40%;
	bottom: 81%;
	border: 1px #3023BB solid;
	border-radius: 10px;
	padding-top: 1px;
	background:#3023BB;
	opacity: 60%;
	transition: all, 0.5s;
}
body{
	background: url(https://wallpaperaccess.com/full/637666.jpg);
	background-size: 100%;
	overflow-x: hidden;
}
#LOGO:hover{
	opacity: 100%;
	transform: scale(1.05);
}
.FUN{
	display: inline-block;
	opacity: 75%;
	top: 31%;
	left: 3.5%;
	position: absolute;
	transition: all, 0.25s;
}

#i2{
	left: 15%;
}

#i3{
	left: 30%;
}

#i4{
	left: 45%;
}

#i5{
	left: 60%;
}


#i6{
	left: 75%;
}

#i7{
	left: 88%;
}

.FUN:hover{
	opacity: 100%;
	transform: scale(2);
}